$surface-color: #ffffff;
$text-color: #1e2529;
$brand-color: #577def;

$content-width: 800px;
$navigation-width: 150px;
$on-palm: 580px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  background-color: $surface-color;
  color: $text-color;
  word-break: break-all;
  scroll-behavior: smooth;

  @include media-query($on-palm) {
    font-size: 16px;
  }
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: $brand-color;

  &:hover {
    @media (hover: hover) {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}

code {
  font-size: 0.8em;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  max-width: $content-width;
  margin: 0 auto;
  padding: 1em;

  @include media-query($content-width + $navigation-width * 2) {
    flex-direction: column;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: $navigation-width;
  padding-top: 68px;
  margin-left: -1 * $navigation-width;

  @include media-query($content-width + $navigation-width * 2) {
    width: 100%;
    margin-left: 0;
    flex-direction: row;
    align-items: stretch;
    padding-top: 11px;
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: -1em;
    padding-left: 1em;
    margin-right: -1em;
    padding-right: 1em;
  }
}

.brand-link {
  font-weight: 600;
  color: $text-color;
  text-decoration: none;

  &:hover {
    @media (hover: hover) {
      text-decoration: none;
    }
  }
}

.navigation-link {
  color: $text-color;
  text-decoration: none;
}

.navigation-link-active {
  text-decoration: underline;
}

.content {
  width: 100%;
  padding: 2em 0;

  @include media-query($content-width + $navigation-width * 2) {
    padding-top: 0em;
  }
}

.diary {
  margin-bottom: 1em;
}

.date-link {
  h2 {
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0.3em;
  }

  color: $text-color;
  text-decoration: none;

  &:hover {
    @media (hover: hover) {
      text-decoration: none;
    }
  }
}

.sbx-p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;

  &:before {
    content: '・';
    position: absolute;
    margin-left: -1em;
  }
}

.indent-0 {
  margin-left: 0em;
}

.indent-1 {
  margin-left: 1em;
}

.indent-2 {
  margin-left: 2em;
}

.indent-3 {
  margin-left: 3em;
}

.indent-4 {
  margin-left: 4em;
}

.indent-5 {
  margin-left: 5em;
}

.indent-6 {
  margin-left: 6em;
}

.indent-7 {
  margin-left: 7em;
}

.indent-8 {
  margin-left: 8em;
}

.indent-9 {
  margin-left: 9em;
}

.sbx-link {
  text-decoration: none;
}

.sbx-icon {
  max-width: 1em;
  max-height: 1em;
  margin-bottom: -2px;
}

.sbx-image {
  max-height: 230px;
  max-width: 230px;
}

.sbx-quote {
  background-color: #eeeeee;
  font-style: italic;
}
